---
import ContactForm from '@components/ContactForm';
---

<section
  class="bg-primary-blue mt-[100px] md:mt-[150px] pt-[60px] pb-[30px] px-[26px] md:py-[73px]"
>
  <h3
    class="text-[11.5px] tracking-[3px] uppercase text-white text-center md:text-[13.3px] md:tracking-[5px] pb-[17px] md:pb-[38px]"
  >
    35,000+ already joined
  </h3>
  <h2
    class="text-[19.3px] tracking-[0.01px] md:text-[31.3px] md:tracking-[0.157px] leading-[40px] max-w-[415px] mx-auto font-medium text-center text-white md:pb-[37px] pb-[14px]"
  >
    Stay up-to-date with what we’re doing
  </h2>
  <ContactForm client:visible />
</section>
