---
import { navLinks } from '@constants/index';
import SoMe from '@components/SoMe';
---

<footer class="bg-neutral-blue">
  <section
    class="flex flex-col md:flex-row md:justify-between items-center max-w-[1162px] mx-auto px-[26px] py-[26px] md:py-[32px]"
  >
    <article
      class="flex flex-col md:flex-row gap-y-[30px] gap-x-[49px] items-center uppercase text-white text-center md:text-left text-[12.8px] tracking-[1.6px]"
    >
      <img src="/logo-footer.svg" alt="logo" />
      {navLinks.map((link) => <h2 class="hover:text-primary-red transition-colors cursor-pointer">{link}</h2>)}
    </article>
    <article class="flex gap-[32px] items-center pt-[30px] md:pt-0">
      <SoMe media="facebook" client:visible />
      <SoMe media="twitter" client:visible />
    </article>
  </section>
</footer>
