---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

  body {
    font-family: 'Rubik', sans-serif;
  }
</style>
